In [ ]:
#loop

In [ ]:
for i in range(1,11):
    print (i*i)

In [ ]:
while (num<=10):
    print (num**2)
    num= num+1

In [ ]:
num=10
while num<=100:
    print(num)
    num=num+10
else:
    print('loop is finished')

In [ ]:
for i in range(10,100,10):
    print(i)

In [ ]:
for i in range(100,10,-10):
    print(i)

In [ ]:
for i in range(10):
    if i%2==0:
        print (i)
    else:
        break

In [ ]:
for i in range(10):
    if i%2==0:
        print(i)

In [ ]:
# Import data in Python

In [ ]:
import pandas as pd

df=pd.read_csv('/Users/sophengsok/Documents/Class/men2004.csv')

In [ ]:
df.info()

In [ ]:
pd.options.display.min_rows =  900

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
df.head(50)

In [ ]:
df.tail(20)

In [ ]:
df.describe()

In [ ]:
df.describe(include='O')

In [ ]:
# create new column in dataset insert() and []

In [ ]:
df.insert(6,'along_with_passenger',df.sibsp+df.parch)

In [ ]:
df['YOB']=1912-df.age

In [ ]:
# Accessing column from dataframe

In [ ]:
df[['fare','age']]

In [ ]:
df.fare (only one column and cannot have space)

In [ ]:
# Arranging Clumn

In [ ]:
df['survive','pclass','sex','age','YOB','sibsp','parch']

In [ ]:
df.columns.values

In [ ]:
cols=list(df.columns.values)

In [ ]:
df[cols[0:4]+[cols[-1]]+cols[4:10]]

In [ ]:
cols[0:4]

In [ ]:
cols[4:10]

In [ ]:
cols[-1]

In [ ]:
df=df[cols[0:4]+[cols[-1]]+cols[4:10]]

In [ ]:
# Subsetting Data

In [ ]:
df_male=df[df['sex']=='male']

In [ ]:
df_female_kid=df[(df['sex']=='female')|(df['age']<=18)]

In [ ]:
new_df=df[['sex','age','survived']]

In [ ]:
df.dtypes

In [ ]:
df.select_dtypes(include=['float','int'])

In [ ]:
df['pclass'].value_counts()

In [ ]:
df.pclass.nunique()

In [ ]:
df.pclass.unique()

In [ ]:
df[(df['age']>20)&(df['age']<=30)] or

In [ ]:
df[df.age.between(20,30,inclusive=False)]

In [ ]:
df[(df.age.between(20,30) & (df.pclass.between(1,2) & (df.fare>21)))]

In [ ]:
df[(df.deck=='A') | (df.deck=='B') | (df.deck=='C')] or

In [ ]:
deck=['A','B','C']

In [ ]:
df[df.deck.isin(deck)]

In [ ]:
df[~df.deck.isin(deck)]

In [ ]:
df[df['deck'].isna()]

In [ ]:
df[df['deck'].isnull()]

In [ ]:
df.isnull().sum()

In [ ]:
# Handling missing values

In [ ]:
df['age'].fillna(20, inplace=True)

In [ ]:
df['age'].mean()

In [ ]:
df['age'].fillna(df['age'].mean())

In [ ]:
df.fillna({'age':20,'deck':'C'})

In [ ]:
df['age'].fillna(method ='ffill')

In [ ]:
df['age'].fillna(method ='bfill')

In [ ]:
df.drop(['fare'],axis=1)

In [ ]:
df.drop(df.clolumns[[0,6]], axis=1)

In [ ]:
df.drop(columns = 'fare')

In [ ]:
# Access Row and Column (default is loc)

In [ ]:
df.iloc[10:30,[0,1,3]]

In [ ]:
df.iloc[10:30,0:5]

In [ ]:
df.loc[10:30,['survived','pclass','age']] (loc will show whole rows 10-30 and label, iloc. 10:29, and integer. only)

In [ ]:
df.iloc[ : , 0:4]

In [ ]:
df.iloc[5: ,0:4]

In [ ]:
df.iloc[0:10]

In [ ]:
# Sorting the Data

In [ ]:
df.sort_values(by='fare')

In [ ]:
df.sort_values(by=['pclass','age','fare'],ascending=[True,False,True])

In [ ]:
df.sort_values(by=['pclass','age','fare'],ascending=[1,0,1])

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.reset_index()

In [ ]:
df.agg(['mean','median','std','var'])

In [ ]:
df.agg({'survided':'mean','age':['min','max'],'fare':['min','max'],'parch':'sum'})

In [ ]:
df.set_index('pclass','sex')

In [ ]:
df.swaplevel()

In [ ]:
# Pivottable, Groupby, Merging the Data

In [ ]:
pd.pivot_table(df,values='fare',index='deck',aggfunc=['min','max'])

In [ ]:
pd.pivot_table(df,values='survived',index='sex',aggfunc='sum')

In [ ]:
df.groupby('sex').mean()

In [ ]:
df.groupby('deck')['pclass','fare'].mean()

In [ ]:
df.groupby('sex')['survived'].mean()

In [ ]:
df.groupby('sex')['survived'].describe() or

In [ ]:
df.groupby('sex')['survived'].agg(['mean','min','max',])

In [ ]:
df.groupby(['sex','pclass'])['survived'].mean()

In [ ]:
men2004.append(men2008)

In [ ]:
pd.concat([men2004,men2008], ignore_index=True)

In [ ]:
men2004.merge(men2008, how='inner', on = 'Athlete', suffixes = ('_2004','_2008'), indicator=True)

In [ ]:
men2004.rename(columns={'Athlete':'Players'})

In [ ]:
men2004.merge(men2008, how='inner', left_on='players',right_on='Athlete',suffixes=('_2004','_2008'),indicator=True)

In [ ]:
df.replace(35,40)

In [ ]:
df['YOB'].astype('int64')

In [ ]:
df.astype({'age':'int64'})

In [ ]:
df.select_dtypes('int64')

In [ ]:
df.select_dtypes(['int64','float64'])

In [ ]:
df.sample(n=200)

In [ ]:
df.sample(frac=0.25)

In [ ]:
pd.qcut('df['age']', q=5).value_counts()

In [ ]:
# Numerical Python = Numpy

In [ ]:
x= np.array([1,2,3,4,5,'Pheng'])

In [ ]:
x= np.array(42)

In [ ]:
x= np.array([[1,2,3],[3,4,5]])

In [ ]:
x= np.array([[[1,2,3],[3,4,5],[6,7,8]]])

In [ ]:
x.ndim

In [ ]:
y= np.array([1,2,3,4,],ndmin=5)

In [ ]:
# Accessing element in array

In [ ]:
z= np.array([1,2,3,4,5,6])

In [ ]:
z[0]+z[1]

In [ ]:
z[-1]

In [ ]:
z[-3:-1]

In [ ]:
y= np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
y[0,2]=3

In [ ]:
y[1,1:4]=array([5,6])

In [ ]:
y[1,4:6] = array([])

In [ ]:
y[3,4:6] = error

In [ ]:
# To check how many column and row in daty

In [ ]:
y.shape

In [ ]:
y.dtype

In [ ]:
i = integer
b = boolean
c = complex
O = object
S = string
u = int unsigned
M = Datetime

In [ ]:
# Reshaping array

In [ ]:
x= np.array([1,2,3,4,5,6,7,8,9])

In [ ]:
x_new= x.reshape(4,3)

In [ ]:
x_new= x.reshape(2,3,2)

In [ ]:
arr1=np.array([4,5,6])

In [ ]:
arr2= np.array([11,12,13])

In [ ]:
np.concatenate((arr1,arr2))

In [ ]:
arr1= np.array([[4,5,6],[7,8,9]])

In [ ]:
arr2= np.array([[11,12,13],[15,16,17]])

In [ ]:
np.concatenate((arr1,arr2))

In [ ]:
np.concatenate((arr1,arr2),axis=1)

In [ ]:
np.concatenate((arr1,arr2),axis=0)

In [ ]:
arr1=np.array([4,5,6,7,8,9,10])

In [ ]:
np.array_split(arr1,3)

In [ ]:
np.array_split(x_new,2,axis=0)

In [ ]:
np.array_split(x_new,2,axis=1)

In [ ]:
np.where(x_new==6)

In [ ]:
np.where(x_new//)

In [ ]:
np.where(x_new%2==0)

In [ ]:
np.searchsorted(arr1,7)

In [ ]:
np.searchsorted(arr1,7,side='right')

In [ ]:
np.sort(x_new)

In [ ]:
import random

In [ ]:
random.randint(0,50)

In [ ]:
from numpy import random

In [ ]:
random.randint(100, size=(10))

In [ ]:
import keyword 
print(keyword.kwlist)
len(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
#to print letter in line

a='amit'
for i in a:
    print(i,end='')
    print(i,end='\n') by default
    print(i,end='\t') by tab

In [ ]:
# For loop
for i in sequence:(#sequence= string, list, tuple,dict, range)
    stmt1
    stmt2
    stmt3
    stmtn

In [2]:
for i in range(6):
    print('amit')

amit
amit
amit
amit
amit
amit

In [3]:
#rang(start,end-1,step)
for i in range(1,6): #. print from 1 to end-1, by default step=1
    print('amit')

amit
amit
amit
amit
amit

In [ ]:
#while loop
initialize (optional)
while condition:
    stmt1
    stmt2
    stmt3
    stmtn
    updation (compusary)

In [ ]:
i=1
while i <=10:
    print('amit')
    i=i+1
print (' i am outside the loop')

In [5]:
# Reverse given 3 digits number using while loop

n=int(input('enter the number'))
rev=0
while n!=0:
    digit = n%10
    rev = rev*10+digit
    n=n//10
print(rev)

enter the number123
321

In [9]:
#Write a python code to check given number is palindrom number or not

n=int(input('enter the number'))
temp=n
rev=0
while n!=0:
    digit=n%10
    rev=rev*10+digit
    n=n//10
print (rev)
if rev==temp:
    print('palindrom')
else:
    print('not')

enter the number121
121
palindrom

In [11]:
n=int(input('enter number'))
temp=n
rev=0
while n!=0:
    digit=n%10
    rev=rev*10+digit
    n=n//10
print(rev)
if rev==temp:
    print('palindrom')
else:
    print ('not')

enter number121
121
palindrom

In [3]:
# Armstrong Number
#153=1x1x1+5x5x5+3x3x3
n = int(input('enter the number'))
temp=n
sum=0
while n!=0:
    digit= n%10
    sum=sum+digit**3
    n=n//10
if sum==temp:
    print('armstrong')
else:
    print('not')

enter the number153
armstrong

In [ ]:
# Function
1.Inbuild fuction/system define function 
2.User define fuction

In [4]:
import math
math.sqrt(4)

2.0

In [5]:
math.e

2.718281828459045

In [6]:
math.pi

3.141592653589793

In [8]:
math.pow(3,2)

9.0

In [ ]:
#User define function
1.  Function definition
2.  Function call

In [ ]:
1. Syntax of Function definition
    
    def functionName (parameters(input to function)):
        stmt1
        stmt2
        stmt3
        stmtn
2. Syntax of Function call

    functionName (parameters(input to. function))

In [54]:
def addition(a,b,c):
    return (a+b+c)
    #print('this function is addition of a b and c')

In [55]:
addition(1,2,3)

6

In [15]:
addition(1,2)

TypeError: addition() missing 1 required positional argument: 'c'

In [17]:
addition(int(input('enter the first number ')),int(input('enter the second number ')),int(input('enter the third number ')))

enter the first number 1
enter the second number 2
enter the third number 3
6
this function is addition of a b and c

In [19]:
def demo():
    print('hi this is function that does not take any input')

In [20]:
demo()

hi this is function that does not take any input

In [43]:
#return result to function call

def substract(a,b,c):
    return(a-b-c)

In [44]:
res= substract(2,4,5)
print(res)

-7

In [34]:
substract(2,4,5)

-7

In [48]:
addition(1,2,3)*substract(4,5,6)

6
this function is addition of a b and c

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [56]:
addition(1,2,3)*substract(4,5,6)

-42

In [57]:
#by default function return 'None' value

def demo():
    print('This is demo')

In [58]:
print(demo())

This is demo
None

In [1]:
# Function to calculate sum of 3 digits number

def sumDigit(n):
    sum=0
    while n!=0:
        digit=n%10
        sum=sum+digit
        n=n//10
    return (sum)

In [3]:
sumDigit(123)

6

In [4]:
sumDigit(int(input('enter 3 digit number: ')))

enter 3 digit number: 456

15

In [23]:
# Type of Parameters

#1 Positioning argument

def demo(name,msg):
    print('Hi This is {} and {}'.format(name,msg))
demo('hi','amit')

Hi This is hi and amit

In [26]:
#2 Key Base argument

# we can pass argument. value by keys ie argument/paratmeter name.
# key word argument always come after positional argument

# sometime we can provide default argument to positional argument

def greet (name,msg):
    print (name,msg)

In [31]:
greet (name='pheng',msg='good evening')
greet (msg='good evening',name='pheng')
greet ('pheng',msg='good evening')

pheng good evening
pheng good evening
pheng good evening

In [30]:
greet (name='pheng','good evening')

SyntaxError: positional argument follows keyword argument (2833829417.py, line 1)

In [ ]:
greet ('good evening', name='pheng') # this is invalid becuase we passing multiple to name variable

In [38]:
# default argument
# if we give number to parameter it will replace the default argument
def addition(a,b=0,c=0):
    return (a+b+c)

addition (1,2,3)

6

In [50]:
def addition(a=None,b=None,c=None):
    if  a!=None and b!=None and c!=None:
        print (a+b+c)
    elif a!=None and c!=None:
        print (a+c)
    elif b!=None and c!=None:
        print (b+c)
    elif a!=None and b!=None:
        print (a+b)
    else:
        print ('provide 2 or 3 argument')

In [51]:
addition(2,3,4)

9

In [1]:
def greet(name, msg='good evening'):
    print(name,msg)

In [2]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [3]:
greet('amit')

amit good evening

In [4]:
greet('good evening')

good evening good evening

In [5]:
greet('amit','GE')

amit GE

In [ ]:
# Variable Length Argument
def f1(*n):
    stmt1
    stmt2

In [6]:
def printnumber(*n):
    print(type(n))
    print(n)

In [7]:
printnumber(1)

<class 'tuple'>
(1,)

In [8]:
printnumber(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [ ]:
# accept N number of natural number and print the sum of it

In [11]:
def printnumber(*n):
    sum=0
    for i in n:
        sum+=i
    print(sum)

In [12]:
printnumber(1,2,3)

6

In [17]:
def f1(n1,n2,*s):
    print('this is n1',n1)
    print('this is n2',n2)
    print(s)
    for s1 in s:
        print(s1)
f1(2,12,13,14)

this is n1 2
this is n2 12
(13, 14)
13
14

In [ ]:
def fun(a,b,c=4,d=8):
    print (a,b,c,d)
#fun(3,2)
#fun(11,22,33,44)
#fun(25,50,d=100)
#fun(d=11,a=22,b=3)
#fun()
#fun(a=2,b=3,2,3)
#fun(3,4,a=2,b=3)
#fun(4,5,a=3)
#fun(4,5,c=10,e=20)

In [ ]:
# List Comprehension
     
    newlist= [expression for member in iteration]

In [18]:
a=[i*i for i in [1,2,3,4,5]]
print (a)

[1, 4, 9, 16, 25]

In [20]:
a=[i*i for i in [1,2,3,4,5] if i%2==0]
print(a)

[4, 16]

In [21]:
a=[i*i for i in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
a=[i for i in range(100) if i%2==0 if i%5==0]
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [33]:
z=[i for i in 'this is python training' if i in 'aeiou']
print(z)

['i', 'i', 'o', 'a', 'i', 'i']

In [34]:
a=['even' if i%2==0 else "odd" for i in range(10)]
print (a)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [37]:
a=[for i in range(10) if i%2==0 'even' else 'odd']
print(a)

SyntaxError: invalid syntax (1624633593.py, line 1)

In [39]:
p=[1.25,-9.45,10.22,3.78,-5.92,1.16]
a=['positive' if i>=0 else 'negative' for i in p]
print (a)

['positive', 'negative', 'positive', 'positive', 'negative', 'positive']

In [40]:
# we can call function in place of expression

def cube(x):
    return (x**3)
l=[1,2,3,4,5]
a=[cube(i) for i in l]
print(a)

[1, 8, 27, 64, 125]

In [ ]:
#anonymous function
#function without name is call anonymous function
#we use lambda keyword to define this function
#syntex
# variable= lambda varibalelist:expression

In [42]:
a= lambda n:n*n
a(5)

25

In [43]:
b=lambda a,b,c=9:a*b*c
b(1,2)

18

In [47]:
# find the largest number using lambda function
a=lambda a,b,c: a if a>b or a>c else b if b>c else c
a(1,3,5)

5

In [48]:
b=[222,333,444,555,2,1]
print(max(b,key=lambda value:int(value)))

555

In [49]:
c=lambda a,b,c:max(a,b,c)
c(12,3434,543)

3434

In [50]:
#filter()
#it is use to filter data
#we can use it in lambda
#syntax

#Filter(function,sequesnce)

def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    
result=list(filter(isEven,[1,2,3,4,5,6]))
print(result)

[2, 4, 6]

In [52]:
result1=list(filter(lambda x:x%2==0,[1,2,3,4,5,6]))
print(result1)

[2, 4, 6]

In [53]:
#filter postive and negative using filter function
p=list(filter(lambda x:x>=0,[1,-2,4,-3]))
print(p)

[1, 4]

In [54]:
#map()
#for every element we perform some operation and generate new elements

a=[1,2,3,4]
def doublenum(x):
    return x*2
result=list(map(doublenum,[1,2,3,4]))
print(result)

[2, 4, 6, 8]

In [56]:
def iseven (x):
    if x%2==0:
        return True
    else:
        return False
    
result=list(map(iseven,[1,2,3,4]))
print(result)

[False, True, False, True]

In [58]:
#reduce()
#reduce function reduces the sequence of elements into single element
#syntax:
#reduce(function,sequence)
#this reduce function is present in functool module

from functools import reduce
result=reduce(lambda x,y:x+y,[1,2,3,4,6,10,1,3,4])
print(result)

#x=1,3,6,10,16,26,27,30,34
#Y=2,3,4,6,10,1,3,4

34

In [ ]:
#OOP (Object Oriented Programing)

class ClassName:
    ClassVariable (optional)
    Constructor   (optional)
    Method        (optional)

In [5]:
class Demo:
    """This is Demo class"""
    pass

In [7]:
print(Demo.__doc__)

This is Demo class

In [9]:
# 1. Create Class
class student:
    def accept(self):
        self.name= input('Enter name:')
        self.age= input('Enter age:')
        self.add= input ('Enter add:')
        self.salary= input ('Enter salary')
    def display(self):
        print (self.name,self.age,self.add,self.salary)

In [10]:
# 2. Create Object - variable/object name = classname

pheng= student() #create object
pheng.accept()   #access instance function/method
pheng.display()

Enter name:Pheng Sok
Enter age:22
Enter add:San Francisco
Enter salary120000
Pheng Sok 22 San Francisco 120000

In [11]:
print(pheng.name) #access instance variable

Pheng Sok

In [12]:
print(pheng.age)

22

In [13]:
print(pheng.add)

San Francisco

In [14]:
dir(pheng)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'accept',
 'add',
 'age',
 'display',
 'name',
 'salary']

In [15]:
calvin=student()
calvin.accept()
calvin.display()

Enter name:Calvin So
Enter age:25
Enter add:San Francisco
Enter salary150000
Calvin So 25 San Francisco 150000

In [ ]:
# Constructor
#1. It is special type of method
#2. It is use to initialize the instance variable
#3. Only one constructor in python
#4. name of constructor is __init__()
#5. Syntax
    def __init__(self): #initializing instance variable
#6. It is called when we created object

In [17]:
class person:
    def __init__(self): #constructor
        print('This is constructor')

In [18]:
p= person() #automatically call constructor

This is constructor

In [7]:
class person:
    def __init__(self):
        self.name= input('enter name')
        self.age= input('enter age')
        self.sal= input ('enter salary')
    def display(self):
        print(self.name,self.age,self.sal,self.dept,self.add)
    def accept(self):
        self.dept= input('enter department name')
        self.add= input('enter address:')

In [8]:
p=person()
p.accept()
p.display()

enter namepheng
enter age30
enter salary10000
enter department nameDS
enter address:USA
pheng 30 10000 DS USA

In [ ]:
# Bank Case Study

In [16]:
class Bank:
    name= 'ABC Bank' #class variable/static variable
    def __init__(self):
        self.accNumber= input('enter account number')
        self.name= input('eneter name')
        self.initialbal= 1000
    def accept(self):
        self.age= input('enter age')
        self.add= input('enter address')
    def deposit(self):
        print('Balance before deposit',self.initialbal)
        self.depositAmt=int(input('enter deposit amount'))
        self.bal= self.initialbal+self.depositAmt
        print('Balance after deposit',self.bal)
    def withdraw(self):
        print('Balance before withdrawal', self.initialbal)
        self.withdrawAmt=int(input('enter withdraw amount'))
        if self.withdrawAmt >self.initialbal:
            print('insufficience fund')
        else:
            self.bal=self.initialbal-self.withdrawAmt
            print('Balance after withdrawal',self.bal)
    def display(self):
        print(Bank.name,self.accNumber,self.name,self.initialbal,self.age,self.add)

In [17]:
b=Bank()
b.accept()
b.deposit()
b.withdraw()
b.display()

enter account number88888
eneter namePheng
enter age30
enter addressUSA
Balance before deposit 1000
enter deposit amount100000
Balance after deposit 101000
Balance before withdrawal 1000
enter withdraw amount5000
insufficience fund
ABC Bank 88888 Pheng 1000 30 USA

In [23]:
# Type of Variable in OOP
#1 Instance Variable
#2 Class/Static Variable
#3 Local Variable

class VariableDemo:
    a=100 #class variable
    def __init__(self,b,c,d): # b,c,d are local variable
        self.a=10 #self.a,self.b,self.c,self.d are instance variable
        self.b=b
        self.c=c
        self.d=d
    def accept(self):
        VariableDemo.z=10000
        self.e=input('Enter the number of e')
    def display(self):
        print(VariableDemo.a,self.a,self.b,self.c,self.e,self.d,VariableDemo.z)
        
v=VariableDemo(1,2,3)
v.accept()
v.display()
print (v.a,v.b,v.c) #access instance variable outside the class
print(VariableDemo.a,VariableDemo.z) #access class variable outside the class

Enter the number of e100000
100 10 1 2 100000 3 10000
10 1 2
100 10000

In [ ]:
# Characteristics of OOP
# 1. Inheritance
# 2. Polymophism
# 3. Encaapsulation
# 4. Interface
# 5. Abstraction

In [ ]:
# 1. Inheritance
    #Simple/Single inheritance
    #Multilevel inheritance
    #Multiple inheritance

In [8]:
# Simple/Single Inheritance #Only one parent for child

class parent:
    def __init__(self):
        self.a= input('Enter first number')
        self.b= input('Enter second number')
    def display(self):
        print(self.a,self.b)

class child(parent):
    def __int__(self):
        super().__init__()
        self.c= 1000
        print(self.c)
        
c=child()
c.display()

In [6]:
dir(c)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'b',
 'display']

In [31]:
class person:
    def accept(self):
        self.ID= input('Enter ID:')
        self.name= input('Enter Name:')
        self.age= input('Enter Age:')
        self.add= input('Enter Add:')
        
class Employee(person):
    def __init__(self):
        self.emp_dept= input('Enter Dept:')
        self.emp_sal=input('Enter Salary:')
    def display(self):
        print(self.ID,self.name,self.age,self.add,self.emp_dept,self.emp_sal)

In [32]:
e=Employee()
e.accept()
e.display()

Enter Dept:DS
Enter Salary:100000
Enter ID:ABC
Enter Name:PHENG
Enter Age:30
Enter Add:USA
ABC PHENG 30 USA DS 100000

In [ ]:
# Multilevel Inheritance

In [33]:
class person:
    def accept(self):
        self.ID= input('Enter ID:')
        self.name= input('Enter Name:')
        self.age= input('Enter Age:')
        self.add= input('Enter Add:')
class Employee(person):
    def __init__(self):
        self.emp_dept= input('Enter Dept:')
        self.emp_sal=input('Enter Salary:')

class Admin(Employee):
    def __init__(self):
        self.attendent=10
        super().__init__()
    def display(self):
        print(self.attendent, self.emp_dept,self.emp_sal,self.ID,self.name,self.age,self.add)

In [35]:
a=Admin()
a.accept()
a.display()

Enter Dept:ABC
Enter Salary:100000
Enter ID:ABC
Enter Name:Pheng
Enter Age:30
Enter Add:USA
10 ABC 100000 ABC Pheng 30 USA

In [ ]:
#Multiple inheritance - Multiple parent for one child

In [6]:
class person:
    def __init__(self):
        self.ID= input('Enter ID:')
        self.name= input('Enter Name:')
        self.age= input('Enter Age:')
        self.add= input('Enter Add:')

class Employee:
    def __init__(self):
        self.emp_dept= input('Enter Dept:')
        self.emp_sal=input('Enter Salary:')

class Admin(Employee,person):
    def __init__(self):
        self.attendent=25
        person.__init__(self)
        Employee.__init__(self)
    def display(self):
        print(self.attendent, self.emp_dept,self.emp_sal,self.ID,self.name,self.age,self.add)

In [7]:
a=Admin()
a.display()

Enter ID:168
Enter Name:Pheng
Enter Age:30
Enter Add:USA
Enter Dept:DS
Enter Salary:100000
25 DS 100000 168 Pheng 30 USA

In [ ]:
# Polymorphysm - Ability of an object to take more than one form